/***********************
 * colors
 ***********************/

.pwv-WebViewer {
    --pwv-text-color: #ffffff;
    --pwv-text-muted-color: #666660;
    --pwv-text-contrast-color: #282724;

    --pwv-selection-color: #006395;

    --pwv-ui-color-100: #000000;
    --pwv-ui-color-200: #282724;
    --pwv-ui-color-300: #676765;
    --pwv-ui-color-400: #b5b4b0;
    --pwv-ui-color-500: #dad9d8;
    --pwv-ui-color-600: #f0f0ef;
    --pwv-ui-color-700: #f8f7f7;

    --pwv-brand-color-100: #0f558a;
    --pwv-brand-color-200: #0b81da;
    --pwv-brand-color-300: #0d8ff2;
    --pwv-brand-color-400: #80c8ff;
    --pwv-brand-color-500: #b6ddfb;
    --pwv-brand-color-600: #d8edfd;
    --pwv-brand-color-700: #ecf6fe;


    --pwv-drop-shadow-1: 0 0 4px rgba(122, 122, 122, 0.1);
    --pwv-drop-shadow-2: 0 0 8px rgba(122, 122, 122, 0.2);
    --pwv-drop-shadow-3: 0 3px 8px rgba(122, 122, 122, 0.3);

    button[title="Switch theme"] {
        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(188deg) brightness(108%) contrast(102%);
        }
    }
}

body[data-theme=light] .pwv-WebViewer {
    --pwv-text-color: #282724;
    --pwv-text-muted-color: #b5b4b0;
    --pwv-text-contrast-color: #ffffff;

    --pwv-selection-color: #006395;

    --pwv-ui-color-100: #f8f7f7;
    --pwv-ui-color-200: #f0f0ef;
    --pwv-ui-color-300: #dad9d8;
    --pwv-ui-color-400: #b5b4b0;
    --pwv-ui-color-500: #676765;
    --pwv-ui-color-600: #282724;
    --pwv-ui-color-700: #000000;

    --pwv-brand-color-100: #ecf6fe;
    --pwv-brand-color-200: #d8edfd;
    --pwv-brand-color-300: #b6ddfb;
    --pwv-brand-color-400: #80c8ff;
    --pwv-brand-color-500: #0d8ff2;
    --pwv-brand-color-600: #0b81da;
    --pwv-brand-color-700: #0f558a;

    --pwv-drop-shadow-1: 0 0 4px rgba(0, 0, 0, 0.1);
    --pwv-drop-shadow-2: 0 0 8px rgba(0, 0, 0, 0.2);
    --pwv-drop-shadow-3: 0 3px 8px rgba(0, 0, 0, 0.3);

    button[title="Switch theme"] {
        img {
            filter: invert(11%) sepia(10%) saturate(421%) hue-rotate(7deg) brightness(93%) contrast(89%);
        }
    }
}