.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.select {
  height: 34px;
  padding: 0 10px;
  margin-left: 10px;
  border: solid 1px #008bd2;
  box-sizing: border-box;
  outline-color: #006395;
}
.viewer {
  position: relative;
  flex-grow: 1;
}
