$default-border-radius: 5px;
$button-size: 40px;
$primary: rgb(53, 126, 247);
$primary-hover: rgb(53, 126, 247, 0.1);
$secondary: rgb(87, 204, 247);
$secondary-hover: rgb(87, 204, 247, 0.1);
$default: rgb(140, 140, 140);
// $toolbar-background: rgb(242, 242, 242);
$toolbar-background: white;

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.toolbar {
  background: $toolbar-background;
  border: 1px solid $default;
  border-radius: $default-border-radius;
}

#custom-toolbar {
  position: absolute;
  top: 120px;
  left: 15px;
  width: calc(100vw - 45px);
  z-index: 2;

  .primary-toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 300px;
    
    @media screen and (max-width:640px) {
      flex-direction: column;
    }

    .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .mid-side {
      display: flex;
      justify-content: center;
      align-items: center;

      .pagination {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .pagination-info {
          padding: 0 10px;
          user-select: none;

          #page-number-input {
            width: 36px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              display: none;
            }
          }
        }
      }
    }

    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .secondary-toolbar {
    position: absolute;
    top: 45px;
    @media screen and (max-width:640px) {
      top: 125px;
    }
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    display: none;

    #search-form-field {
      margin: 0 6px;
      position: relative;

      .search-icon {
        position: absolute;
        font-size: 20px;
        top: 3px;
        left: 3px;
        background: $toolbar-background;
      }

      #search-input {
        width: 120px;
        padding-left: 21.5px;
      }
    }

    #layout-dropdown {
      min-width: 120px;
    }

    #zoom-dropdown {
      min-width: 80px;
    }
  }
  
  .action-button {
    border: none;
    transition: all 0.3s ease;
    color: $default;
    background: transparent;
    width: $button-size;
    height: $button-size;
    user-select: none;

    &:disabled {
      opacity: .3;
    }

    &:hover:not(:disabled) {
      background: $primary-hover;
      color: $primary;
      cursor: pointer;
    }

    &.active:not(:disabled) {
      background: $primary-hover;
      color: $primary;
      cursor: pointer;
    }
  }

  input {
    height: 20px;
    text-align: center;
    border-radius: $default-border-radius;
  }
}

.dropdown {
  padding: 0 4px;
  position: relative;

  .dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: $default-border-radius;
    border: 1px solid $default;
    transition: all 0.3s ease;
    background: transparent;
    padding: 1px 6px;
    user-select: none;
    width: 100%;
  
    &:hover {
      background: $primary-hover;
      color: $primary;
      cursor: pointer;
    }
  
    &.active {
      background: $primary-hover;
      color: $primary;
      cursor: pointer;
    }
  }

  .dropdown-options-container {
    position: absolute;
    display: none;
    background: $toolbar-background;
    flex-direction: column;
    min-width: calc(100% - 10px);
    border: 1px solid $default;
    border-radius: $default-border-radius;
    span[class^="material-icons"] {
      font-size: 20px;
    }
    .dropdown-option {
      padding: 2px 6px;
      user-select: none;
      &:hover {
        background: $primary-hover;
        color: $primary;
        cursor: pointer;
      }
    }
  }
}