$primary: rgb(53, 126, 247);
$primary-hover: rgb(53, 126, 247, 0.1);
$secondary: rgb(87, 204, 247);
$secondary-hover: rgb(87, 204, 247, 0.1);
$default: rgb(140, 140, 140);
$toolbar-background: #f8f7f7;
$toolbar-height: 50px;
$input-background: $toolbar-background;
$input-background-focused: rgba(53, 126, 247, 0.1);
$default-border-radius: 5px;
$default-input-border: 1px solid $default;
$button-size: 45px;